# Debian source builds
udsactor_*.dsc
udsactor_*.tar.xz
udsactor_*.buildinfo
udsactor_*.changes
# And binaries
udsactor*.deb
udsactor*.rpm
# Some convenient 
*_enterprise.*
*_ignore.*
.python-version
.coverage

__pycache__
full/.vscode/
/bin
/udsclient*
/udsclient-*.tar.gz
/*.rpm

igelimage
thinproimage
