Source: udslauncher
Maintainer: Adolfo Gómez García <agomez@virtualcable.net>
Section: net
Priority: optional
Build-Depends: debhelper (>= 7), po-debconf, dh-systemd (>= 1.5)
Standards-Version: 4.1.4
Homepage: http://www.udsenterprise.com

Package: udsactor
Section: net
Priority: optional
Architecture: x86_64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Launcher for Universal Desktop Services (UDS) Broker
 This package provides the required components to allow UDS Broker to launch virtual desktops and applications on the client machine.
 