#!/usr/bin/make -f

DISTRO ?= Debian12

%:
	dh $@

# Project build
override_dh_auto_build:
	$(MAKE)

# Staged installation of binaries and files
override_dh_auto_install:
	$(MAKE) DISTRO=$(DISTRO) DESTDIR=$(CURDIR)/debian/udslauncher install-udslauncher

# Cleaning the build environment
override_dh_auto_clean:
	rm -f build-stamp configure-stamp
	dh_clean

# Installation of the init script (only if you want SysV compatibility)
override_dh_installinit:
	dh_installinit --no-stop-on-upgrade --no-start --name=udslauncher
