<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <application
        android:name="com.freerdp.afreerdp.application.GlobalApp"
        android:icon="@drawable/uds_icon"
        android:label="UDS Launcher"
        android:resizeableActivity="true">

        <activity
            android:name="com.freerdp.afreerdp.uds.UdsLauncherActivity"
            android:exported="true"
            android:label="UDS Launcher"
            android:theme="@style/Theme.Main"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|screenLayout">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="udssv2" />
                <data android:scheme="udss" />
            </intent-filter>
        </activity>

        <!-- Main activity -->
        <activity
            android:exported="false"
            android:name="com.freerdp.freerdpcore.presentation.HomeActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_title"
            android:theme="@style/Theme.Main"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|density|screenLayout" />

        <activity
            android:exported="false"
            android:name="com.freerdp.freerdpcore.services.SessionRequestHandlerActivity"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@style/Theme.Main" />

        <activity
            android:name="com.freerdp.freerdpcore.presentation.SessionActivity"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
        </activity>

        <activity
            android:name="com.freerdp.freerdpcore.presentation.ShortcutsActivity"
            android:exported="false"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
        </activity>

        <activity-alias
            android:name="com.freerdp.freerdpcore.presentation.CreateShortcuts"
            android:exported="false"
            android:targetActivity="com.freerdp.freerdpcore.presentation.ShortcutsActivity"
            tools:replace="android:exported">
            <intent-filter tools:node="removeAll" />
        </activity-alias>

        <activity
            android:name="com.freerdp.freerdpcore.presentation.ApplicationSettingsActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <activity
            android:name="com.freerdp.freerdpcore.presentation.AboutActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <activity
            android:name="com.freerdp.freerdpcore.presentation.HelpActivity"
            android:exported="false"
            tools:replace="android:exported" />

        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>

    </application>

</manifest>
